.section-card {
    .header__top {
        border: 1px solid var(--main-black);
        margin-bottom: 50px;

    }
    .header__call {
        border: 1px solid var(--main-black);
        a {
            color: var(--main-black);
        }
    }
    .header__socials a {
        border: 1px solid var(--main-black);
    }
    .header__socials svg {
        // fill: #000;
        stroke: #000;
    }
    .header__link {
        color: var(--main-black);
        border: 1px solid var(--main-black);
        &.active {
            background: var(--main-black);
            color: var(--white);
        }
    }
}
.wrapper__cards {
    display: grid;
    gap: 20px;
    justify-content: center;
    .card__img-main {
        overflow: hidden;
    }
}

.card__img-thumbs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    &--empty {
        background: var(--grey);
        border-radius: 10px;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 52px;

}
.card__content-top {
    h5 {
        position: relative;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        color: var(--main-black);
        padding-bottom: 10px;
        margin-bottom: 20px;
        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            border-bottom: 1px solid var(--main-black);
            width: 100%;
            height: 2px;
        }
    }
    p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: var(--main-black);
        margin-bottom: 30px;
    }
}
.card__content-item {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: var(--main-black);

    & + & {
        margin-top: 10px;
    }
}
.card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card__content-bottom{
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--grey);
    .card__content-buy {
        border-radius: 30px;
        padding: 12px 76px;
        backdrop-filter: blur(3.0999999046325684px);
        background: var(--green);
    }
}
.card__price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        color: var(--main-black);
    }
}

.card__price-btns {
    display: flex;
    align-items: center;
    gap: 20px;
}
.card__quantify {
    display: flex;
    gap: 10px;
    border-radius: 30px;
    padding: 12px 20px;
    backdrop-filter: blur(3.0999999046325684px);
    background: var(--white);
}